html {
  overflow-x: hidden;
}

body {
  background-color: #121010;
}
body p {
  color: rgba(255, 255, 255, 0.8784313725);
}

.library {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  row-gap: 3rem;
  justify-items: center;
  margin-top: 6rem;
}

.results {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 3rem;
  margin-bottom: 10rem;
}

._404 {
  grid-column: 1/-1;
}

.now-playing {
  position: relative;
  margin: auto;
  padding: 0 1rem;
}
.now-playing > * {
  grid-column: 1/2;
}
.now-playing {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
@media only screen and (max-width: 75em) {
  .now-playing {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
.now-playing {
  justify-items: center;
  column-gap: 1rem;
  max-width: 86rem;
  margin: auto;
  color: rgba(255, 255, 255, 0.8784313725);
  margin-top: 1rem;
}
.now-playing .synopsis {
  font-size: 20px;
}
.now-playing video {
  width: 100%;
}

.title {
  display: grid;
  row-gap: 1rem;
}
.title a {
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8784313725);
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 18px;
  font-size: 12px;
}
.title img {
  height: 15rem;
  width: auto;
  margin: auto;
  cursor: pointer;
}

.poster {
  position: sticky;
  align-self: end;
  top: 4rem;
  height: auto;
  width: 28.8rem;
  grid-row: 1/span 10;
  grid-column: 2/-1;
}
@media only screen and (max-width: 75em) {
  .poster {
    position: static;
    width: 100%;
    height: auto;
    grid-row: unset;
    grid-column: unset;
    align-self: unset;
  }
}
.poster img {
  width: inherit;
  height: inherit;
  object-fit: contain;
  z-index: -1;
}

.search {
  position: sticky;
  top: 0;
  border-top: 8px solid #121010;
}
@media only screen and (max-width: 425px) {
  .search {
    border-top: 1.8rem solid #121010;
  }
}
.search {
  background-color: #E2E2E2;
  height: 4rem;
  row-gap: 1rem;
  z-index: 1;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
}
.search a {
  text-decoration: overline;
  font-size: 1.4rem;
  color: #121010;
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;
}
.search input {
  width: 15rem;
  height: 2.5rem;
  border-radius: 2rem;
  border-color: #121010;
  border-width: 1px;
  background-color: transparent;
}

.loader {
  position: fixed;
  text-align: center;
  font-size: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  opacity: 0;
  padding: 2rem;
  border-radius: 2rem;
  color: white;
  z-index: -1;
}
.loader.htmx-request {
  opacity: 0.75;
  z-index: 1;
}

#search {
  text-align: center;
  display: block;
  margin: auto;
  font-size: 14px;
}

.edit {
  display: none;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 5rem;
  border-radius: 1rem;
}
.edit #title {
  height: 1.4rem;
  border: 1px solid #121010;
  border-radius: 5px;
  width: 10rem;
  padding: 0 8px;
}
.edit-btn {
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: #121010;
  color: #fff;
  padding: 5px 8px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.edit .action {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}
.edit-save {
  background-color: green;
}
.edit-cancel {
  background-color: #121010;
}

.form {
  display: none;
}
.form-toggle {
  display: none;
}
.form-toggle:checked + .edit {
  display: block;
}

.metadata {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: monospace;
}
.metadata span {
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}
.metadata .file_title {
  grid-column: 1/-1;
  font-size: 1.8rem;
  line-height: 1.6em;
}
.metadata .file_title span {
  text-transform: capitalize;
  padding: 0;
  border-radius: 0;
  font-size: inherit;
}
.metadata .tags {
  grid-column: 1/-1;
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}
.metadata .year span {
  background-color: red;
}
.metadata .resolution span {
  background-color: blue;
}
.metadata .extension span {
  background-color: green;
}
.metadata .filesize span {
  background-color: orange;
}
.metadata .synopsis {
  grid-column: 1/-1;
  font-size: 1rem;
  line-height: 1.6em;
}

/*# sourceMappingURL=styles.css.map */
