.edit {
    display: none;

    &-btn {
        cursor: pointer;
        margin-bottom: 1rem;
    }
}

.form {
    display: none;

    &-toggle {
        display: none;
    }

    &-toggle:checked + .edit {
        display: block;
    }
}