.metadata {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: monospace;

    span {
        padding: 5px 8px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: bold;
    }

    .file_title {
        grid-column: 1 / -1;
        font-size: 1.8rem;
        line-height: 1.6em;
        span {
            text-transform: capitalize;
            padding: 0;
            border-radius: 0;
            font-size: inherit;
        }
    }

    .tags {
        grid-column: 1 / -1;
        display: flex;
        column-gap: 1rem;
        flex-wrap: wrap;
    }

    .year {
        span {
            background-color: red;
        }
    }

    .resolution {
        span {
            background-color: blue;
        }
    }

    .extension {
        span {
            background-color: green;
        }
    }

    .filesize {
        span {
            background-color: orange;
        }
    }

    .synopsis {
        grid-column: 1 / -1;
        font-size: 1rem;
        line-height: 1.6em;
    }
}