.poster {
    position: sticky;
    align-self: end;
    top: 4rem;
    height: auto;
    width: 28.8rem;
    grid-row: 1 / span 10;
    grid-column: 2 / -1;

    img {
        width: inherit;
        height: inherit;
        object-fit: contain;
        z-index: -1;
    }
}