<div class="metadata">
    <p class="file_title">Now playing — <span>{{metadata["title"]}}</span></p>
    <div class="tags">
        <p class="year"><span>Year: {{metadata["year"]}}</span></p>
        <p class="resolution"><span>Resolution: {{metadata["resolution"]}}</span></p>
        <p class="extension"><span>Type: {{metadata["extension"].upper()}}</span></p>
        <p class="filesize"><span>Size : <strong>{{file_size}} GB</strong></span></p>
    </div>
    {% if file_path == no_hash %}
        <a href="/crawl">or click here to re-crawl the connected drive(s)</a>
    {% endif %}
    <p class="synopsis">{{synopsis}}</p>
</div>