<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<title>Box Office</title>
</head>
<body hx-boost="true" hx-indicator=".loader">
	{% include "_search_block.html" %}
	<div class="library">
		{% for hash, metadata in content.items() %}
			<div class="title">
				<img 
					hx-get="/library/{{hash}}"
					hx-trigger="click"
					hx-target="body"
					hx-push-url="true"
					src="{{ metadata['poster'] }}" 
					alt="Poster">
				<a hx-target="body" href="/library/{{hash}}">{{metadata["title"]}}</a>
			</div>
		{% endfor %}
	</div>
	<div class="loader">Fetching assets...</div>
</body>
</html>