<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
	<title>Box Office</title>
</head>
<body>
	<input 
	type="search" 
	name="search" 
	id="search"
	placeholder="Search by title..."
	hx-get="/library/search"
	hx-trigger="keyup changed delay:300ms"
	hx-target=".library"
	>
	<hr>
	<div class="library">
		{% for hash, filename in content.items() %}
		<a href="/library/{{hash}}">{{filename}}</a>
		<br>
		{% endfor %}
	</div>
</body>
</html>