<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <title>Box Office | Now Playing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body hx-boost="true">
    {% include "_search_block.html" %}
    <div class="now-playing">
        <div class="content">
            <h1>Now playing</h1>
            {% include "_metadata_block.html" %}
            <button>Edit</button>
            <video preload="auto" controls width="890">
                <source src="{{file_path}}" type="video/x-matroska" />
                <source src="{{file_path}}" type="video/mp4" />
                Your browser does not support the video tag. Download here
                <a href="{{file_path}}">Click to download</a>
            </video>
        </div>
        <div class="poster">
            <img src="{{poster}}" alt="Poster">
        </div>
    </div>
    <form hx-target=".metadata .title" 
          hx-swap="outerHTML" 
          class="form" action="/library/{{hash}}" method="post">
        <input type="text" name="title" id="title">
        <input type="submit" value="Submit">
    </form>
    {% include "_loader_block.html" %}
</body>
</html>