<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <title>Box Office | Now Playing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body hx-boost="true">
    {% include "_search_block.html" %}
    <div class="now-playing">
        <div class="content">
            {% include "_metadata_block.html" %}
            <label for="form-toggle">
                <button class="edit-btn" type="button" style="pointer-events: none;">Edit title</button>
            </label>
            <input class="form-toggle" type="checkbox" name="form-toggle" id="form-toggle">
            <form hx-target=".metadata, .metadata .title" 
                  hx-swap="outerHTML" 
                  class="edit" action="/library/{{hash}}" method="post">
                  <input required type="text" name="title" id="title" placeholder="format: title.extension">
                  <label for="form-toggle">
                    <input class="action edit-save" type="submit" value="Save">
                  </label>
                  <label for="form-toggle">
                    <input class="action edit-cancel" type="button" value="Cancel" style="pointer-events: none;">
                  </label>
            </form>
            <video preload="auto" controls>
                <source src="{{file_path}}" type="video/x-matroska" />
                <source src="{{file_path}}" type="video/mp4" />
                Your browser does not support the video tag. Download here
                <a href="{{file_path}}">Click to download</a>
            </video>
        </div>
        <div class="poster">
            <img src="{{poster}}" alt="Poster">
            <div class="poster__related">
                {% if related_content.items() %}
                    <h3>Related</h3>
                    {% for hash, related in related_content.items() %}
                        <div class="poster__related--suggestion">
                            <div class="image">
                                <img src="{{related['poster']}}" alt="related['title']">
                            </div>
                            <div class="tags">
                                <a class="title" href="/library/{{hash}}">{{related["title"]}}</a>
                                <a class="year" href="/library/{{hash}}"><span>{{related["year"]}}</span></a>
                                <a class="resolution" href="/library/{{hash}}"><span>{{related["resolution"]}}</span></a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% include "_loader_block.html" %}
</body>
</html>