<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <title>Box Office | Now Playing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include "_search_block.html" %}
    <div class="now-playing">
        <div class="content">
            <h1>Now playing</h1>
            <div class="metadata">
                <p>Title: {{metadata["title"]}}</p>
                <p>Year: {{metadata["year"]}}</p>
                <p>Resolution: {{metadata["resolution"]}}</p>
                <p>Type: {{metadata["extension"].upper()}}</p>
                {% if file_path == no_hash %}
                <a href="/crawl">or click here to re-crawl the connected drive(s)</a>
                {% endif %}
                <p>Size : <strong>{{file_size}} GB</strong></p>
                <p class="synopsis">{{synopsis}}</p>
            </div>
            <video preload="auto" controls width="890">
                <source src="{{file_path}}" type="video/x-matroska" />
                <source src="{{file_path}}" type="video/mp4" />
                Your browser does not support the video tag. Download here
                <a href="{{file_path}}">Click to download</a>
            </video>
        </div>
        <div class="poster">
            <img src="{{poster}}" alt="Poster">
        </div>
    </div>
    {% include "_loader_block.html" %}
</body>
</html>